// Usual
* {
  padding: 0;
  margin: 0;
}

// Always nightmode
.card,
.card.nightMode {
  // Text style
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;

  // Gruvbox Material
  background-color: #292828;
  color: #d4be98;
}

.frontActual {
  // Move front of card down a bit
  padding: 2rem;
}

.front {
  // Card props do not transfer to .front for some reason
  color: #d4be98;

  // Cool indent, to separate from type
  padding: 1rem;
  // box-shadow: 0px 0px 20px 5px #232222;
  // border-radius: 0.5rem;
}

// Type styles
input {
  // Typing starts at center
  text-align: center;

  // Gruvbox Material
  background-color: #292828;
  color: #d4be98;

  // Make the textbox look like nothing
  outline: none;
  border: none;
  &:focus {
    outline: none;
  }

  // Padding and size for user experience
  padding: 1rem;
  font-size: 2rem;
}

// Idk why this is here tbh
.type {
  font-family: Arial, Helvetica, sans-serif;
}

// Make the corrected answer look actually decent
code#typeans {
  font-family: 'Courier New', Courier, monospace;
  color: #292828;
}

.typeGood {
  background-color: #a9b665;
}

.typeBad {
  background-color: #b85651;
}

.typeMissed {
  background-color: #7daea3;
}

// .root,
// .meaning {
//   padding: 0 1rem;
// }

// .break {
//   font-size: 1.5rem;
// }

.extra {
  font-size: 1rem;
}

// .extra .etymology {
//   color: black;
// }
// .extra .origin {
//   color: #f1c232f0;
// }

.examples {
  margin: 0 auto;
  text-align: left;
  padding: 5rem 1rem;
  font-size: 1rem;
  width: 40%;
}

a {
  color: #ffe4b5;
}